body,
html {
  max-width: 100%;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.bg {
  background-image: url("./Backgrount\ Image\(Blur\)\ \(1\).jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  height: 9%;
  width: 20%;
  margin-top: 39%;
  margin-left: 20%;
  text-size-adjust: 20%;
}

.button {

  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1da2b9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  height: 9%;
  width: 20%;
  margin-top: 39%;
  margin-left: 15%;
  text-size-adjust: 20%;
}

.button:active {
  background-color: #145c98;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}

.button1 {

  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #c64646;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  height: 9%;
  width: 20%;
  margin-top: 39%;
  margin-left: 20%;
  text-size-adjust: 20%;
}

.button1:active {
  background-color: #bc180d;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}

.img {
  display: block;
  margin-left: 40%;
  margin-top: 12%;
  width: 100%;
  height: auto;
}

.img2 {
  display: block;
  margin-left: 83%;
  margin-top: 20%;
  height: 36%;
  width: 16%;
}

.img3 {
  display: block;
  margin-left: 0%;
  margin-top: 15%;
  height: 50%;
  width: 30%;

}

.form {
  position: absolute;
  margin-top: -3%;
  margin-left: 46%;
  color: white;
  font-size: 208%;
  padding: 2px;
}

input.largerCheckbox {
  width: 32px;
  height: 32px;
}


  @media(min-width:1024px) {
    .img {
      display: block;
  margin-left: 40%;
  margin-top: 12%;
  width: 100%;
  height: auto;
    }
    
  
    .button {
      height: 12%;
      margin-top: 43%;
    }
  
    .button1 {
      height: 12%;
    }
  
    .img3 {
      margin-top: 17%;
    }
} 
@media(min-width:992px) {
  .img {
   display: block;
margin-left: 35%;
margin-top: 12%;
width: 33%;
height: auto;
  }

  .button {
    height: 12%;
  }

  .button1 {
    height: 12%;
  }

  .img3 {
    margin-top: 17%;
  }
}


 @media(min-width:768px){
  .img {
    display: block;
    margin-left: 32%;
    margin-top: 18%;
    max-width: 100%;
    height: 40%;
  }

  .button {
    height: 12%;

  }

  .button1 {
    height: 12%;
  }

  .img3 {
    margin-top: 17%;
  }
}
 
@media(min-width:780px) {
  .img {
    display: block;
    margin-left: 39%;
    margin-top: 20%;
    max-width: 100%;
    height: 26%;
  }

  .button {
    height: 12%;
   
  }

  .button1 {
    height: 12%;
  

  }

  .img3 {
     height: 39%;
width: 22%;
margin-top: 18%;
margin-left: 6%;
    
  }

  .img2 {
    height: 31%;
    width: 17%;
    margin-left: 82%;
  }
}

@media(min-width:754px) {
  .img {
    display: block;
    margin-left: 39%;
    margin-top: 20%;
    max-width: 100%;
    height: 26%;
  }

  .button {
    height: 12%;
   
  }

  .button1 {
    height: 12%;
  

  }

  .img3 {
     height: 39%;
width: 22%;
margin-top: 18%;
margin-left: 6%;
 
  }

  .img2 {
    height: 31%;
    width: 17%;
    
    margin-left: 82%;
  }
}
 
@media(min-width:652px) {
  .img {
    display: block;
    margin-left: 36%;
    margin-top: 20%;
    max-width: 100%;
    height: 26%;
  }

  .button {
    height: 12%;
    width: 24%;
  }

  .button1 {
    height: 12%;

    width: 24%;
  }

  .img3 {
     height: 39%;
width: 22%;
margin-top: 18%;
margin-left: 6%;
  
  }

  .img2 {
    height: 31%;
    width: 17%;
    margin-left: 82%;
  }
}

@media(min-width:622px) {
  .img {
    display: block;
    margin-left: 36%;
    margin-top: 20%;
    max-width: 100%;
    height: 26%;
  }


  .button {
    height: 12%;
    width: 24%;
  }

  .button1 {
    height: 12%;
    width: 24%;
  }

  .img3 {
     height: 39%;
width: 22%;
margin-top: 18%;
margin-left: 6%;
  }

  .img2 {
    height: 31%;
    width: 17%;
    margin-left: 82%;
  }
}

@media(min-width:676px) {
  .img {
    display: block;
    margin-left: 35%;
    margin-top: 12%;
    max-width: 100%;
    height: 26%;
  }

  .button {
    height: 12%;
    width: 24%;
  }

  .button1 {
    height: 12%;

    width: 24%;
  }

  .img3 {
     height: 39%;
width: 22%;
margin-top: 18%;
margin-left: 6%;

  }

  .img2 {
    height: 31%;
    width: 17%;
    margin-left: 82%;
  }
}

@media(min-width:610px) {
  .img {
   display: block;
margin-left: 35%;
margin-top: 12%;
width: 33%;
height: auto;
  }

  .button {
    height: 12%;
    width: 24%;
  }

  .button1 {
    height: 12%;
    width: 24%;
  }

  .img3 {
     height: 39%;
width: 22%;
margin-top: 18%;
margin-left: 6%;
  }

  .img2 {
    height: 31%;
    width: 17%;
    margin-left: 82%;
  }
}



@media(min-width:480px) and (max-width:574px) {
  .img {
    height: 159px;
    margin-left: 36%;
    margin-top: 12%;
  }

  .button {
    height: 13%;
    width: 33%;
    margin-left: 11%;
  }

  .button {
    height: 13%;
    width: 33%;
    margin-left: 29%;
  }

  .img2 {
    height: 36%;
    width: 16%;
    margin-left: 83%;
  }

  .img2 {
    height: 50%;
    width: 30%;
    margin-left: 0%;
  }
}
/*
@media(min-width:596px) {

  .img {
    display: block;
    margin-left: 35%;
    margin-top: 28%;
    max-width: 100%;
    height: 34%;
  }

  .button {
    height: 12%;
    margin-top: 71%;
    width: 24%;
  }

  .button1 {
    height: 12%;
    margin-top: 58%;
    width: 24%;
  }

  .img3 {
     height: 39%;
width: 22%;
margin-top: 18%;
margin-left: 6%;
    margin-top: 36%;
  }

  .img2 {
    height: 31%;
    width: 17%;
    margin-top: 37%;
    margin-left: 82%;
  }
}

@media(min-width:574px) {

  .img {
    display: block;
    margin-left: 35%;
    margin-top: 28%;
    max-width: 100%;
    height: 34%;
  }

  .button {
    height: 12%;
    margin-top: 80%;
    width: 27%;
    margin-left: 15%;
  }

  .button1 {
    height: 12%;
    margin-top: 58%;
    width: 26%;
  }

  .img3 {
     height: 39%;
width: 22%;
margin-top: 18%;
margin-left: 6%;
    margin-top: 36%;
  }

  .img2 {
    height: 31%;
    width: 17%;
    margin-top: 37%;
    margin-left: 82%;
  }
}
@media(min-width:550px) {

  .img {
    display: block;
    margin-left: 35%;
    margin-top: 28%;
    max-width: 100%;
    height: 34%;
  }

  .button {
    height: 12%;
    margin-top: 80%;
    width: 27%;
    margin-left: 15%;
  }

  .button1 {
    height: 12%;
    margin-top: 58%;
    width: 26%;
  }

  .img3 {
     height: 39%;
width: 22%;
margin-top: 18%;
margin-left: 6%;
    margin-top: 36%;
  }

  .img2 {
    height: 31%;
    width: 17%;
    margin-top: 37%;
    margin-left: 82%;
  }
}
@media(min-width:500px) {

  .img {
    display: block;
    margin-left: 35%;
    margin-top: 28%;
    max-width: 100%;
    height: 34%;
  }

  .button {
    height: 12%;
margin-top: 97%;
width: 30%;
margin-left: 10%;
  }

  .button1 {
    height: 12%;
    margin-top: 58%;
    width: 30%;
  }
  

  .img3 {
     height: 39%;
width: 22%;
margin-top: 18%;
margin-left: 6%;
    margin-top: 55%;
  }

  .img2 {
    height: 31%;
    width: 17%;
    margin-top: 58%;
    margin-left: 82%;
  }
} */