body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("./Backgrount\ Image\(Blur\)\ \(1\).jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  height: 80%;
  width: 49%;
  margin-left: 25%;
  margin-top: 2%;
}

ul {
  position:absolute;
  display: block;
  list-style-type: disc;
  margin-left: 32%;
  margin-top: 15%;
  height: 50%;
  width: 30%;
  font-size: 158%;
  color: white;
}

h1 {
  position:absolute;
  display: block;
  margin-left: 46%;
  margin-top: 8%;
  height: 50%;
  width: 30%;
  font-size: 360%;
  color: white;
}

.start {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: rgb(198, 70, 70);
  border: none;
  border-radius: 15px;
  box-shadow: rgb(153 153 153) 0px 9px;
  height: 9%;
  width: 20%;
  margin-top: 45%;
  margin-left: 40%;
  text-size-adjust: 20%;
  font-size: xxx-large;
  position: absolute;
}

.start:active {
  background-color: #145c98;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}