body,
html {
  max-width: 100%;
  height: 100%;
}

.bg {
  background-image: url("../images/BackgrountImage.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button1 {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  position: absolute;
  background-color: #46a4c6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  height: 12%;
  width: 20%;
  margin-top: 34%;
  margin-left: 7%;
  text-size-adjust: 20%;
  font-size: xxx-large;
}

#playerName {
  margin-left: 65%;
  margin-top: 1.5%;
  font-size: x-large;
  color: #fff;
}

.button1:active {
  background-color: #107968;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.img1 {
  height: 56px;
  width: 64px;
  margin-top: 22px;
  margin-left: 37px;
}

.img2 {
  height: 66px;
  width: 72px;
  margin-left: 20px;
  margin-top: 19px;
}

.comdiv {
  position: absolute;
  text-align: center;
  margin-left: 5%;
  margin-top: -34%;
}

.li2 {
  color: white;
  margin-left: 20px;
  margin-top: 15px;
}
#tg{
    position: absolute;
    margin-left: 69%;
    color: white; 
    margin-top: 1.7%;
    font-size: x-large;
}
#com {
  position: absolute;
  margin-left: 43%;
  margin-top: -17%;
  color: rgb(25, 114, 9);
  font-weight: bold;
}
#target{
    position: absolute;
     margin-left: 75%;
     color: white;
     margin-top: 1.8%;
     font-size: x-large;
}
.img {
  display: block;
  margin-left: 35%;
  margin-top: 12%;
  width: 33%;
  height: auto;
}
#teamName {
  text-align: center;
  font-size: xx-large;
}
.table {
  margin-top: -21%;
  margin-left: 6%;
  width: 89%;
  position: absolute;
}
.Prevball{
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #46a4c6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  height: 12%;
  width: 20%;
  margin-top: 34%;
  margin-left: 13%;
  text-size-adjust: 20%;
  font-size: xxx-large;
}
.Prevball:active {
  background-color: #107968;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}
td {
  
  text-align: center;
  font-size: xx-large;
}
.scorecard{
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  position: absolute;
  background-color: #46a4c6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  height: 12%;
  width: 20%;
  margin-top: 34%;
  margin-left: 33%;
  text-size-adjust: 20%;
  font-size: xx-large;
}
.scorecard:active {
  background-color: #107968;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}

/* CSS */
.playagain1 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: absolute;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: -160px;
  margin-left: 670px;
}

.playagain1::after,
.playagain1::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.playagain1::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.playagain1::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.playagain1:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.playagain1:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.playagain1:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}