body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("./Backgrount\ Image\(Blur\).jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

ul {
  margin-left: 12%;
  margin-top: -40%;
  height: 50%;
  width: 30%;
  font-size: 184%;
  color: white;
  list-style-type:none;
  position:absolute;
}
.add_players{
  position: relative;
}
.teams{
  position: relative;
}
.ul1 {
  display: block;
  margin-left: 72%;
  margin-top: -40%;
  height: 50%;
  width: 30%;
  font-size: 184%;
  color: white;
  list-style-type:none;
  position:absolute;
}

.australia {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 15px;
  box-shadow: rgb(153 153 153) 0px 9px;
  height: -12%;
  width: 16%;
  text-size-adjust: 20%;
  font-size: xx-large;
  position: absolute;
  margin-top: -10%;
  margin-left: 71%;
  font-size: xx-large;
  position: absolute;
}
.australialogo{
  height: 78%; 
  width: 31%;
}

.australia:active {
  background-color: #145c98;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}
.india1{
  position:absolute;
  margin-top: -45%;
  margin-left: 43%;
}
.vs1{
  position:absolute;
  margin-top: -37%;
  margin-left: 41%;
}
.australia1{
  position:absolute;
  margin-top: -23%;
  margin-left: 43%;
}
.india {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 15px;
  box-shadow: rgb(153 153 153) 0px 9px;
  height: -12%;
  width: 16%;
  text-size-adjust: 20%;
  font-size: xx-large;
  position: absolute;
  margin-top: -10%;
  margin-left: 12%;
}
a{
  text-decoration:none;
  color:white;
}
.india:active {
  background-color: #145c98;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}

.button {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: rgb(198, 70, 70);
  border: none;
  border-radius: 15px;
  box-shadow: rgb(153 153 153) 0px 9px;
  height: -12%;
  width: 16%;
  margin-top: -6.5%;
  margin-left: 12%;
  text-size-adjust: 20%;
  font-size:xxx-large;
  position: absolute;
}

.button:active {
  background-color: #145c98;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}

.button1 {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: rgb(198, 70, 70);
  border: none;
  border-radius: 15px;
  box-shadow: rgb(153 153 153) 0px 9px;
  height: -12%;
  width: 16%;
  margin-top: -6.5%;
  margin-left: 71%;
  text-size-adjust: 20%;
  font-size:xxx-large;
  position: absolute;
}

.button1:active {
  background-color: #145c98;
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
}
.team1{
  position: absolute;
  margin-left: 62%;
  height: 75%;
  width: 32.5%;
  margin-top: 2%;
}
.team2{
  position: absolute;
  margin-left: 3%;
  height:75%;
  width: 32.5%;
  margin-top: 2%;
}